<%- include('partial/head') %>
<form action="/form/submit" method="post">
  <label for="threadid">Thread ID</label><br>
  <input id="threadid" type="text" name="threadid" required>
  <br><br>

  <label for="oponentename">Oponente Name</label>
  <br>
  <input id="oponentename" name="oponentename" type="text" required>
  <br> <br>

  <label for="matchdate">Match Date</label>
  <br>
  <input type="date" name="matchdate" id="matchdate" required>
  <br><br>

  <label for="corintians">Corinthians Score</label>
  <br>
  <input id="corintians" name="corinthians" type="number" required>
  <br>
  <br>
  <label for="oponente">Oponente Score</label>
  <br>
  <input id="oponente" name="oponente" type="number" required>
  <br><br>


  <!-- Player One -->
  <label for="playername-1">Player</label>
  <input id="playername-1" name="playername-1" type="text">

  <label for="playerscore-1">Score</label>
  <input id="playerscore-1" name="playerscore-1" type="number">
  <br>
  <br>


  <!-- Player Two -->
  <label for="playername-2">Player</label>
  <input id="playername-2" name="playername-2" type="text">

  <label for="playerscore-2">Score</label>
  <input id="playerscore-2" name="playerscore-2" type="number">
  <br>
  <br>

  <!-- Player Three -->
  <label for="playername-3">Player</label>
  <input id="playername-3" name="playername-3" type="text">

  <label for="playerscore-3">Score</label>
  <input id="playerscore-3" name="playerscore-3" type="number">
  <br>
  <br>

  <!-- Player Four -->
  <label for="playername-4">Player</label>
  <input id="playername-4" name="playername-4" type="text">

  <label for="playerscore-4">Score</label>
  <input id="playerscore-4" name="playerscore-4" type="number">
  <br>
  <br>

  <!-- Player Five -->
  <label for="playername-5">Player </label>
  <input id="playername-5" name="playername-5" type="text">

  <label for="playerscore-5">Score</label>
  <input id="playerscore-5" name="playerscore-5" type="number">
  <br>
  <br>

  <!-- Player Six -->
  <label for="playername-6">Player</label>
  <input id="playername-6" name="playername-6" type="text">

  <label for="playerscore-6">Score</label>
  <input id="playerscore-6" name="playerscore-6" type="number">
  <br>
  <br>

  <!-- Player Seven -->
  <label for="playername-7">Player</label>
  <input id="playername-7" name="playername-7" type="text">

  <label for="playerscore-7">Score</label>
  <input id="playerscore-7" name="playerscore-7" type="number">
  <br>
  <br>

  <!-- Player Eight -->
  <label for="playername-8">Player</label>
  <input id="playername-8" name="playername-8" type="text">

  <label for="playerscore-8">Score</label>
  <input id="playerscore-8" name="playerscore-8" type="number">
  <br>
  <br>

  <!-- Player Nine -->
  <label for="playername-9">Player</label>
  <input id="playername-9" name="playername-9" type="text">

  <label for="playerscore-9">Score</label>
  <input id="playerscore-9" name="playerscore-9" type="number">
  <br>
  <br>

  <!-- Player Ten -->
  <label for="playername-10">Player</label>
  <input id="playername-10" name="playername-10" type="text">

  <label for="playerscore-10">Score</label>
  <input id="playerscore-10" name="playerscore-10" type="number">

  <br><br>
  <input type="submit" value="Submit">

</form>

<script>
  document.getElementById('matchdate').valueAsDate = new Date()
</script>
<%- include('partial/foot') %>