<%- include('partial/head') %>
<a href="/wiki">Update Wiki Settings</a>
<br>
<a href="/form">Input Match Results</a>
<br>
<a href="/matches">View Matches</a>
<br>
<a href="/edit_score">Edit A User's Score</a>
<br>
<a href="/leaderboard">View Leaderboard</a>
<%- include('partial/foot') %>